*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

/*** First Navigation Bar ***/

.navbar_1{
    height: 30px;
    background-color: orangered;
    display: flex;
    align-items: center;
    padding-left: 50%;
}
.text{
    color: white;
    font-size: 0.8rem;
    font-weight: 700;
}
.text:hover{
    color: rgb(232, 215, 215);
}
.nav_text_1{
    padding-right: 23px;
}
.nav_text_2{
    padding-right: 23px;
}
.nav_text_3{
    padding-right: 23px;
}
.nav_text_4{
    padding-right: 23px;
}
.nav_text_5{
    padding-right: 23px;
}

/*** Second navigation Bar  ***/

.navbar_2{
    height: 110px;
    background-color: orangered;
    display: flex;
    align-items: center;
    padding-left: 25%;
}
.nav-icon{
    background-image: url(./media/Daraz-logo.png);
    background-size: cover;
    height: 55px;
    width: 140px;
    padding-right: 60px;
}

.daraz-src{
    height: 48px;
    width: 700px;
    font-size: 1rem;
    padding-left: 25px;
    border: 2px solid orangered;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.search-icon{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border: 2px solid orangered;
    height: 50px;
    width: 50px;
    background-color: pink;
    border: none;
    color:rgb(255, 89, 0);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav-buy-icon{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding-left: 25px;
    color: white;
}

/*** Hero section ***/

.hero_section{
    height: 350px;
    background-color: rgb(222, 216, 216);
    display: flex;
    justify-content: center;
    align-items: center;
}

.background_image{
    background-image: url(./media/Daraz_back_image.png);
    /*background-image: url(./media/Daraz_cover_p2.webp);*/
    background-size: cover;
    height: 350px;
    width: 990px;
}

.small-hero{
    background-image: url(./media/small-hero.png);
    background-size: cover;
    width: 205px;
    height: 350px;
}

/***  Shop section  ***/

.shop-section{
    height: 2100px;
    background-color: rgb(231, 231, 231);
}


/**  Template 1 **/

.header_template_1{
    padding-top: 25px;
    padding-left: 18.5%;
    padding-bottom: 5px;
    color:rgb(59, 58, 58);
}

.template_1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop_template_1{
    height: 380px;
    width: 1200px;
    background-color: white;
}

.box_1{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(199, 199, 199);
    padding-right: 10px;
}

.p1{
    padding-left: 20px;
    font-size: 0.9rem;
    color: orangered;
}

.p2{
    font-size: 0.9rem;
    color: orangered;
    border: 2px solid orangered;
    height: 40px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box_2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 15px;
}

.p_co{
    padding-top: 5px;
    height: 290px;
    width: 190px;
    background-color: white;
    border: 2px solid white;
    /*display: flex;*/
}
.p_co:hover{
    border: 2px solid rgb(195, 194, 194);
}
.product_image1{
    background-image: url("./media/Product_image1.png");
    background-size: cover;
    height: 190px;
    width: 190px;

}
.product_discription{
    color: black;
    padding-left: 10px;
}
.product_text_1{
    font-size: 15.5px;
    padding-top: 5px;
    color: black;
}
.product_text_2 i{
    font-size: 10px;
}
.product_text_2{
    font-size: 19px;
    color: rgb(255, 94, 0);
    padding-top: 5px;
}
.product_text_3 i{
    font-size: 8px;
}
.product_text_3{
    font-size: 10.5px;
    padding-top: 5px;
    color: black;
}
.del{
    color: rgb(162, 162, 162);
}
.product_image2{
    background-image: url("./media/Product_image2.png");
    background-size: cover;
    height: 190px;
    width: 190px;

}
.product_image3{
    background-image: url("./media/Product_image3.png");
    background-size: cover;
    height: 190px;
    width: 190px;

}
.product_image4{
    background-image: url("./media/Product_image4.png");
    background-size: cover;
    height: 190px;
    width: 190px;

}
.product_image5{
    background-image: url("./media/Porduct_image5.png");
    background-size: cover;
    height: 190px;
    width: 190px;

}
.product_image6{
    background-image: url("./media/Product_image6.png");
    background-size: cover;
    height: 190px;
    width: 190px;

}